/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/raleway-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v19-latin-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v19-latin-regular.svg') format('svg'); /* Legacy iOS */
}

body
{
    font-family: 'Raleway';
    margin: 0;
}

#main
{
    margin : 20px 50px 50px;
}

h2
{
    font-weight: bold;
}

ul
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: inherit;
}

.euro
{
    font-weight: bold;
}


/************HEADER*************/

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
}

#logo img
{
    width: 100px;
    height: 53px;
    padding-bottom: 10px;
}

nav ul
{
    display: flex;
    flex-direction: row;
}

nav a
{
    padding: 40px 30px 0;
}

nav li
{
    margin-right: 5px;
}

nav li a:hover
{
    color : #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 35px;
}

.sign
{
    color: #0065FC;
    font-weight: 700;
    padding: 40px 40px 0;
}

/**********SEARCH***********/

.containersearch
{
    margin-bottom: 30px;
}
.containersearch h2
{
    margin-bottom: 8px;
}
.containersearch p
{
    margin-top: 8px;
}
.searchbar
{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    height: 50px;
}
.containermarker
{
    display: flex;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px ;
    width: 50px;
    flex-shrink: 0;
}
.containermarker i
{
    margin: auto;
    font-size: 1.2em;
}
.searchinput
{
    border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 240px;
}
.searchinput::placeholder 
{
    color: black;
}

.searchbutton
{
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 400;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
}

/*********FILTERS**********/

#filters
{
    margin : 20px 20px 20px 0;
    display : flex;
    flex-direction: row;
    align-items: center;
}
#filters h2
{
    margin-top: 5px;
}
.searchfilters
{
    font-weight: 700;
    flex-wrap: wrap;
    font-size: 1.1em;
    margin-bottom: 30px;
    padding-left: 12px;
}
.filter
{
    border : 2px solid #f2f2f2;
    border-radius: 30px / 30px;
    padding-right: 20px;
    margin-left: 25px;

}
.filter:hover
{
    cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
}
.filter i
{
    position: relative;
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 15px;
    margin: auto;
    color: #0065FC;

}

#result
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.iconinfo
{
    border : 1px solid #F2F2F2;
    border-radius: 1rem;
    margin: 0px 12px 7px 0;
    height: 25px;
    width: 25px;
}
.iconinfo i
{
    display: flex;
    justify-content: center;
    color: #0065FC;
    margin-top: 5px;
    font-size: 0.9rem;
}

/**********LODGING**********/

.containerhotels
{
    display: flex;
    flex-direction: row;
    margin:0;
}
.containerhotels h3
{
    font-weight: bold;
}

.hotels
{
    background-color: #f2f2f2;
    border-radius: 1rem;
    margin-right: 20px;
    flex: 1.8;
}
.hotels h2
{
    align-items: center;
    margin-left: 38px;
    margin-top : 40px;
    font-size: 1.3em;
}
.hotel_frame
{
    height: 220px;
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 50px;
    box-shadow: 0 0 7px #c1c1c1;
}
.hotel_frame img
{
    height : 120px;
    border-radius: 1rem 1rem 0 0;
}
.hotel_description
{
    font-size: 0.8em;
    margin-left: 20px;
}
.hotel_rating
{
    font-size: 0.8em;
}
.blue
{
    color: #0065FC;
}
.grey
{
    color: #c1c1c1
}
.row1
{
    display: flex;
    flex-direction: row;
}
.row2
{
    display: flex;
    flex-direction: row;
}

.popular
{
    background-color: #f2f2f2;
    border-radius: 1rem;
    flex: 1.2;
}
.popular_title_icon
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
    justify-content: space-around;
    margin-top: 20px;
}
.popular_title_icon i
{
    font-size: 1.2rem;
}

.popular_frame
{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 7px #c1c1c1;
}
.popular_frame img
{
    height : 100px;
    width: 100px;
    border-radius: 1rem 0 0 1rem;
}
.popular_description
{
    font-size: 0.8em;

}
.showmore
{
    font-weight: bold;
    font-size: 1.1em;
}
